:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

header {
  display: flex;
  justify-content: end;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wa-link-row {
  text-align: center;
  margin-top: 4px;
}

.wa-button-row {
  text-align: center;
}

.qr-code-row {
  display: flex;
  justify-content: center;
}

.wa-button-disabled {
  filter: grayscale(0.65)
}
