header {
  display: flex;
  justify-content: end;
  margin: 16px;
}

main {
  display: flex;
  justify-content: center;
}

.theme-switch {
  padding: 4px 12px;
}

.main-card {
  max-width: 650px;
}

.wa-link-row {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 20px;
}

.wa-button-row {
  text-align: center;
}

.qr-code-row {
  display: flex;
  justify-content: center;
}

.wa-button-disabled {
  filter: grayscale(0.65)
}
