<header>
  <button
    class="theme-switch secondary outline btn-small"
    (click)="toggleTheme()"
  >
    Light / Dark
  </button>
</header>
<main>
  <article class="main-card">
    <p>Enter phone number</p>
    <input
      #number
      type="tel"
      placeholder="Phone Number"
      aria-label="Tel"
      autocomplete="tel"
      [attr.aria-invalid]="numberValid() !== undefined ? !numberValid() : null"
      (input)="numberChange()"
    />
    <div class="wa-button-row">
      @if (numberValid()) {
      <a
        aria-label="Chat on WhatsApp"
        [href]="whatsappLink()"
        class="wa-button"
        target="_blank"
      >
        <img alt="Chat on WhatsApp" src="/img/WhatsAppButtonGreenMedium.svg" />
      </a>
      } @else {
      <img
        alt="Chat on WhatsApp Button Disabled"
        src="/img/WhatsAppButtonGreenMedium.svg"
        class="wa-button-disabled"
      />
      }
    </div>
    <div class="wa-link-row">
      @if (numberValid() && whatsappLink()) {
      <small>
        <a [href]="whatsappLink()">{{ whatsappLink() }}</a>
      </small>
      }
    </div>
    <div class="qr-code-row">
      @if (numberValid() && whatsappLink()) {
      <qrcode
        [qrdata]="whatsappLink() || ''"
        [width]="128"
        alt="WhatsApp Link as QR Code"
        [margin]="1"
        class="space-above"
      ></qrcode>
      }
    </div>
  </article>
</main>
<footer>
  <small>
    Built by
    <a href="https://muehlberger.dev" target="_blank">Tobias Mühlberger</a>
  </small>
  <small>
    <a href="https://github.com/t-muehlberger/wa-linker" target="_blank">
      GitHub
    </a>
  </small>
</footer>
